/node_modules
/public/storage
/storage/app/public/excel_temp
/storage/app/public/pdf_temp
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
